<!-- 
  Title: nav.component.html
  Author: Laurel Condon
  Date: 23 Jan 2024
 -->

<nav class="navbar navbar-expand-lg bg-light gradient-custom">
    <div class="container-fluid">
      <ul class="navbar-nav d-flex flex-row">
        <!-- Home -->
        <li class="nav-item me-3 me-lg-0">
          <a routerLink="/home" class="nav-link">
            <i class="fas fa-home custom-icon"></i>
            <span class="custom-text">Home</span>
          </a>
        </li>
        <!-- About Us -->
        <li class="nav-item me-3 me-lg-0">
          <a routerLink="/about" class="nav-link">
            <i class="fas fa-info-circle custom-icon"></i> 
            <span class="custom-text">About Us</span>
          </a>
        </li>
        <!-- Contact Us -->
        <li class="nav-item me-3 me-lg-0">
          <a routerLink="/contact" class="nav-link">
            <i class="fas fa-envelope custom-icon"></i>
            <span class="custom-text">Contact Us</span> 
          </a>
        </li>
        <!-- Sign In -->
        <li *ngIf="!isLoggedIn" class="nav-item me-3 me-lg-0">
          <a routerLink="/signin" class="nav-link">
            <i class="fas fa-sign-in-alt custom-icon"></i> 
            <span class="custom-text">Sign In</span>
          </a>
        </li>
        <!-- User Dropdown -->
        <li *ngIf="isLoggedIn" mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-user custom-icon"></i>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li class="dropdown-item">
              Signed in as {{ appUser.fullName }}
            </li>
            <li>
              <a routerLink="/task-management" class="dropdown-item">
                <i class="fas fa-tasks custom-icon"></i> My Tasks
              </a>
            </li>
            <li>
              <a (click)="signout()" class="dropdown-item link">
                <i class="fas fa-sign-out-alt custom-icon"></i> Sign Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>