<!-- 
  Title: nav.component.html
  Author: Laurel Condon
  Date: 23 Jan 2024
 -->
 <nav class="navbar navbar-expand-lg navbar-dark gradient-custom text-cream">
  <div class="container-fluid">
    <a class="navbar-brand text-cream" RouterLink=""><img src="/assets/logo-noback.png" alt="Logo" style="height: 60px"> <span class="ms-2">Nodebucket</span>
    </a>

    <button class="navbar-toggler text-cream" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-cream"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-cream" routerLink=""><i class="bi bi-house-door text-cream"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-cream" routerLink="/about"><i class="bi bi-info-circle text-cream"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-cream" routerLink="/contact"><i class="bi bi-envelope text-cream"></i> Contact</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a class="nav-link text-cream" routerLink="security/signin"><i class="bi bi-person text-cream"></i> Sign In</a>
        </li>

        <li *ngIf="isLoggedIn">
          <a href="#" class="nav-link pe-3 text-cream" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person text-cream"></i> Signed In {{ appUser.fullName }}
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="dropdown-item text-cream">
              <a routerLink="task-management" class="dropdown-item text-blue"><i class="bi bi-list-task text-cream"></i> My Tasks</a>
            </li>
            <li class="text-cream">
              <a (click)="signout()" class="dropdown-item link text-blue"><i class="bi bi-box-arrow-right text-cream"></i> Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>