<!-- 
  Title: contact.component.html
  Author: Laurel Condon
  Date: 25 Jan 2024
 -->


 <div class="container-fluid">
    <div class="row">
      <!-- Image section -->
      <div class="col-12 d-flex justify-content-center align-items-center position-relative">
        <img src="/assets/contact-map.jpg" class="img-fluid" alt="Contact Image" style="width: 75%;">
        
        <!-- Contact information box -->
        <div class="position-absolute top-50 end-0 translate-middle bg-light p-4" style="margin-right: 60px;">
          <h2 class="text-center mb-4 text-blue">Contact Us</h2>
          <address class="mb-4 text-blue text-center">
            <strong><i class="bi bi-geo-alt text-cream"></i>Bellevue University</strong><br>
            1000 Galvin Road South<br>
            Bellevue, Nebraska 68005<br>
          </address>
          <p class="mb-0">
            <i class="bi bi-telephone text-cream"></i> Phone: 402.293.2000<br>
            <i class="bi bi-telephone text-cream"></i> Toll Free: 1.800.756.7920<br>
            <i class="bi bi-envelope text-cream"></i> Email: hsadmissions@bellevue.edu
          </p>
        </div>
      </div>
    </div>
  </div>
  