<!-- 
  Title: footer.component.html
  Author: Laurel Condon
  Date: 25 Jan 2024
 -->


<footer class="bg-dark text-light text-center gradient-custom p-2">
  <div class="container footer-style">
    <p class="text-cream footer-para" style="margin-top: 15px;">&copy; 2024 Nodebucket. All rights reserved. Designed with <i class="fas fa-magic text-cream"></i> by Laurel Condon </p>
    <p>
      <a href="https://www.facebook.com/BellevueUniversity/"><i class="bi bi-facebook text-cream" style="margin: 5px;"></i></a>
      <a href="https://twitter.com/BellevueU"><i class="bi bi-twitter text-cream" style="margin: 5px;"></i></a>
      <a href="https://www.youtube.com/user/bellevueuniversity"><i class="bi bi-youtube text-cream" style="margin: 5px;"></i></a>
    </p>
  </div>
</footer>

  