<!-- 
  Title: home.component.html
  Author: Laurel Condon
  Date: 23 Jan 2024
 -->

<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Your existing navbar code goes here -->
</nav>

<!-- Container -->
<div class="container-fluid">
  <div class="row">

 <!-- First Column: Text -->
 <div class="col-lg-6 d-flex align-items-center justify-content-center">
  <div class="text-blue text-center">
    <h1 class="display-4">Magical Productivity Awaits!</h1>
    <h2 class="lead">"Spellbinding Efficiency at Your Fingertips."</h2>
  </div>
</div>

<!-- Second Column: Image with Button -->
<div class="col-lg-6 position-relative">
  <img src="/assets/map.jpg" class="img-fluid" alt="Wizardly Map">

   <!-- Large Button with Router Link -->
<a routerLink="/signin" class="btn custom-button-style position-absolute top-50 start-50 translate-middle">Sign in</a>
